name: Release tarball

on: [workflow_dispatch]

permissions:
  id-token: write
  attestations: write

env:
  OPAMVERBOSE: 1

jobs:
  build:
    strategy:
      matrix:
        include:
          - name: Linux-x86_64
            os: ubuntu-24.04
            container: rockylinux:8
            ocaml_version: 5.2.1
            tarball_filename: sail-Linux-x86_64.tar.gz
          - name: Linux-aarch64
            os: ubuntu-24.04-arm
            container: rockylinux:8
            ocaml_version: 5.2.1
            tarball_filename: sail-Linux-aarch64.tar.gz
          # MacOS disabled for now due to code signing and notarisation requirements
          # - name: mac-arm64
          #   os: macos-26
          #   container: ""
          #   ocaml_version: 5.2.1
          #   tarball_filename: sail-Mac-arm64.tar.gz
          - name: Windows-x86_64
            os: windows-2025
            container: ""
            ocaml_version: 5.2.1
            tarball_filename: sail-Windows-AMD64.zip

    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}

    steps:
    - name: System dependencies (Linux)
      if: runner.os == 'Linux'
      run: |
        dnf install --assumeyes \
          gmp-devel \
          pkg-config \
          openssl \
          curl \
          git \
          make \
          unzip \
          patch \
          gcc \
          gcc-c++ \
          cmake \
          bzip2 \
          python3 \
          findutils \
          diffutils \
          rsync \
          which \
          cargo \
          bubblewrap

    - name: System dependencies (macOS)
      if: runner.os == 'macOS'
      run: |
        brew install --force --overwrite gpatch gmp pkgconf git rust

    - name: System dependencies (Windows)
      if: runner.os == 'Windows'
      run: vcpkg install gmp

    # This must be after git has been installed otherwise Github will use a zip
    # of the code instead of git clone.
    - uses: actions/checkout@v4

    # Retreive git history (but not files) so that `git describe` works. This is
    # used to set the version info in the compiler (printed by `sail --version`).
    #
    # The safe.directory command is needed because the current user does not
    # own the git repo directory and that can be a security issue in some case
    # (but not this one).
    #
    # `git fetch --unshallow --filter=tree:0` can be used on Ubuntu to reduce
    # the download size but unfortunately that causes `opam pin` to fail on Mac.
    - name: Unshallow git history
      run: |
        git config --global --add safe.directory '*'
        git fetch --unshallow

    - name: Setup Z3
      id: z3
      uses: cda-tum/setup-z3@v1
      with:
        version: 4.15.3

    # Note this must be after checkout otherwise it doesn't pin local packages
    # and create the default switch or something.
    - name: Set-up OCaml
      uses: ocaml/setup-ocaml@v3
      with:
        ocaml-compiler: ${{ matrix.ocaml_version }}

    - name: Set LEMLIB env var
      if: runner.os == 'Windows'
      # Note we can't use `opam var lem:share` because lem hasn't been installed yet.
      run: echo "LEMLIB=$(opam var share)\lem\library" >> $env:GITHUB_ENV

    # This contains a fix for paths on Windows but hasn't been released yet.
    - name: Pin latest linksem
      if: runner.os == 'Windows'
      run: opam pin add linksem https://github.com/rems-project/linksem.git

    # Workaround for https://github.com/rems-project/lem/issues/38
    - name: Install and fix lem
      if: runner.os == 'Windows'
      run: |
        opam install lem
        Rename-Item -Path "$(opam var lem:bin)\lem" -NewName "lem.exe"

    - name: Install Sail
      run: |
        opam pin --yes --no-action add .
        opam install sail --yes

    # Build Z3 from source since the binary releases only support glibc 2.31
    # and old distros like RHEL 8 have 2.28.
    - name: Build Z3
      if: runner.os == 'Linux'
      run: |
        git clone --depth 1 --branch z3-4.13.0 https://github.com/Z3Prover/z3.git
        mkdir z3/build
        cd z3/build
        cmake -DCMAKE_BUILD_TYPE=Release ..
        make -j4
        make install

    - name: Make release tarball (Linux)
      if: runner.os == 'Linux'
      run: |
        opam exec -- make tarball Z3_EXE=z3/build/z3

    - name: Make release tarball (Windows)
      if: runner.os == 'Windows'
      run: |
        opam exec -- make tarball "Z3_EXE=$($(Get-Command z3).Source)" "GMP_DLL=$($(Get-Command libgmp-10.dll).Source)"

    - uses: actions/attest-build-provenance@v1
      with:
        subject-path: _build/${{ matrix.tarball_filename }}

    - name: Upload tarball
      uses: actions/upload-artifact@v4
      with:
        name: sail-${{ matrix.name }}
        path: _build/${{ matrix.tarball_filename }}
